#unlucky {
  display: none;
  color: red;
  font-size: 20px;
  float: left;
  padding-left: 30px;
  border-left: 30px;
}
#lucky {
  display: none;
  color: green;
  font-size: 20px;
  float: left;
  padding-left: 30px;
  border-left: 30px;
}
#inbetween {
  display: none;
  color: blue;
  font-size: 20px;
  float: left;
  padding-left: 30px;
  border-left: 30px;
}
